{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Sign In</h1>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="jumbotron">

    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.user_email.label }}<br>
            {{ form.user_email(size=32) }}<br>
            {% for error in form.user_email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

</div>
</div>
</div>
{% endblock %}